<mat-card class="margin mat-elevation-z16 col-md-3" *ngFor="let item of items">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item.usuario}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="container mat-elevation-z8">
            <table mat-table [dataSource]="item.listaprosesos" class="col-md-12">
                <ng-container [matColumnDef]="column" *ngFor="let column of ['nombre','tiempoTotal']">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['nombre','tiempoTotal']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['nombre','tiempoTotal'];"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>