.login-plain{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    .box{
        position: absolute;
        width: 400px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

mat-form-field{
    width: 100%
}

.forgotps{
    position: fixed;
    right: 5px;
}
