
.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
  
h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
      `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.right-menu{
  position: fixed;
  right: 0;
}

mat-sidenav-container{
  background: {
    opacity: 0.5;
    image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.9)), url("/assets/media/img/bg.jpg");
    size: cover;
    repeat: no-repeat;
    position: center center;
  };
}
