<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">CNSF</h1>
    <button mat-icon-button (click)="chat.toggle()">
        <mat-icon>chat</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <button mat-button class="sidenav-button">
            <mat-icon>home</mat-icon>
            <span>INICIO</span>
        </button>

        <button mat-button [matMenuTriggerFor]="menu" class="sidenav-button">
            <mat-icon>settings_applications</mat-icon>
            <span>PANEL DE ADMINISTRACION</span>
        </button>

        <mat-menu #menu>
            <button mat-menu-item routerLink="administracion/sistemas">
                <span>SISTEMAS</span>
            </button>
        </mat-menu>

    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav #chat position="end">
        <app-chat-panel></app-chat-panel>
    </mat-sidenav>

</mat-sidenav-container>

<app-footer class="footer"></app-footer>