<mat-toolbar color="primary" class="toolbar">

    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-name">Hilco Terracota</h1>

    <div class="right-menu">

        <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
            <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #notificationsMenu>

        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>person</mat-icon>
        </button>

        <button mat-icon-button (click)="chat.toggle()">
            <mat-icon>chat</mat-icon>
        </button>

        <mat-menu #profileMenu>
            <button mat-menu-item routerLink="login" (click)="snav.toggle()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
            </button>

        </mat-menu>
    </div>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over">

        <button mat-menu-item *ngFor="let item of items_menu_left" [routerLink]="item.routerLink"
            (click)="snav.toggle()">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.tittle}}</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav #chat position="end">
        <app-chat-panel></app-chat-panel>
    </mat-sidenav>

</mat-sidenav-container>

<app-footer class="footer"></app-footer>