.container-footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.logoimg-right{
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  img{
    max-width:100px;
    height:auto;
  }
}
  